<div class="row">
  <% if spots %>
    <% spots.each do |spot| %>
      <div class="spot-results col-sm-6 ">
        <ul>
          <% if spot.persisted? %>
            <li>スポット名　：<%= link_to spot.name, spot %></li>
          <% else %>
            <li>スポット名　：<%= spot.name %></li>
          <% end %>
            <li>住所　：<%= spot.formatted_address %></li>
        </ul>
          <% if logged_in? %>
              <div class="buttons text-right"><%= render 'favorite_spots/like_button', spot: spot %></div>
              <div class="buttons text-right"><%= render 'favorite_spots/good_button', spot: spot %></div>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>
</div>