<h1 class="text-center">気になる！トップ１０(飲食店)</h1>
<% if @restaurants.present? %>
  <div class="row">
    <% @restaurants.each.with_index(1) do |restaurant, i| %>
      <div class="spot-ranking">
        <div class="col-sm-offset-3 col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading text-center">
              <%= image_tag restaurant.restaurant_photo.photo_url %>
            </div>
            <div class="panel-body">
              <p class="spot-title text-center"><%= link_to restaurant.name, restaurant %></p>
              <div class="buttons text-center">
                <% if logged_in? %>
                  <%= render 'favorite_restaurants/con_button', restaurant: restaurant %>
                <% end %>
              </div>
            </div>
            <div class="panel-footer">
              <p class="text-center">第<%= i %>位: 気になる！　<%= @ranking_counts[restaurant.id] %>件</p>
              <div class="text-right"><%= image_tag("google.png") %></div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>