<div class="row">
  <div class="search-bottom col-sm-offset-6 col-sm-2">
    <%= link_to "スポット検索", spots_path %>
  </div>
  <div class="search-bottom col-sm-offset-2 col-sm-2">
    <a href="#">飲食店検索</a>
  </div>
  <aside class="user-profile col-sm-3">
    <h3 class="text-center"><%= @user.name %></h3>
    <div class="user-image">
      <% if @user.image? %>
        <%= image_tag @user.image.url, :size => "250x250" %>
      <% else %>
        <%= image_tag("noimage.jpg", :size => "250x250") %>
      <% end %>
    <div>
    <ul>
      <li><%= link_to "登録情報の修正", edit_user_path(@user) %></li>
      <li><%= link_to 'ログアウト', logout_path, method: :delete %></li>
    <ul>
  </aside>
  <div class="col-sm-offset-1 col-sm-8">
    <ul class="nav nav-tabs nav-justified">
      <li class="<%= 'active' if current_page?(user_path(@user)) %>"><%= link_to user_path(@user) do %>Myクチコミ <span class="badge"><%= @count_reviews %></span><% end %></li>
      <li><a href="#">参考になった！</a></li>
      <li><a href="#">良かった！</a></li>
      <li><a href="#">気になる！</a></li>
    </ul>
    <%= render 'reviews/reviews', reviews: @reviews %>
  </div>
</div>