<div class="row">
  <h3 class="text-center">飲食店詳細</h3>
  <div class="detail col-sm-offset-3 col-sm-6">
    <div class="detail-photo">
        <%= image_tag @restaurant.restaurant_photo.photo_url %>
    </div>
    <table class="detail-contents">
        <tbody class="text-center">
          <tr>
              <th>飲食店名</th>
              <td><%= @restaurant.name %></td>
          </tr>
          <tr>
              <th>住所</th>
              <td><%= @restaurant.formatted_address %></td>
          </tr>
          <tr>
              <th>営業時間</th>
              <% if @restaurant.weekday_text? %>
                <td><%= @restaurant.weekday_text %></td>
              <% else %>
                <td>情報がありませんでした</td>
              <% end %>
          </tr>
        </tbody>
    </table>
    <div class="text-right"><%= image_tag("google.png") %></div>
    <div class="buttons text-center"><span class="badge"><%= @count_con %></span><%= render 'favorite_restaurants/con_button', restaurant: @restaurant %></div>
    <div class="buttons text-center"><span class="badge"><%= @count_nice %></span><%= render 'favorite_restaurants/nice_button', restaurant: @restaurant %></div>
  </div>
      
  <div class="review-form col-sm-offset-3 col-sm-6">

    <%= form_for(:res_review, url: res_reviews_path) do |f| %>
      <%= hidden_field_tag :restaurant_id, @restaurant.id %>
      <div class="form-group">
        <%= f.label :title, 'タイトル' %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :review, 'クチコミ' %>
        <%= f.text_area :review, class: 'form-control' %>
      </div>

      <%= f.submit '投稿する', class: 'btn btn-primary btn-sm' %>
    <% end %>
  </div>
  <div class="col-sm-offset-3 col-sm-6">
    <h3 class="text-center">クチコミ一覧</h3>
    <% if @restaurant_review %>
      <% @restaurant_review.each.with_index(1) do |review, i| %>
        <div class="place-reviews ">
          <p><%= i %>件目</p>
          <ul>
              <li>ユーザー名　：<%= review.user.name %></li>
              <li>タイトル　：<%= review.title %></li>
              <li>クチコミ　：<%= review.review %></li>
              <li class="ref-btn text-right"><span class="badge"><%= @count_eva %></span><%= render 'evas/eva_button', review: review %></li>
            <% if current_user == review.user %>
              <li class="text-right"><%= link_to "削除", res_review_path(review.id), method: :delete, data: { confirm: "クチコミを削除しますか？" }, class: 'btn btn-danger btn-xs' %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    <% end %>
    <%= paginate @restaurant_review %>
  </div>
</div>